body { background: #1f1f1f; font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;}
section { display: flex; flex-wrap: wrap; gap: 2em; padding: 1em 2em 2em; perspective: 500px; }
main { margin-top: 2em; }
h1, h2 { color: white; text-align: center; }
button, a { transition: all 1s; background: transparent; padding: 1em 3em; font-size: 18px; border: 1px solid turquoise; color: white; border-radius: 5px; }
a { text-decoration: none; position: relative; overflow: hidden; }
.half-width { flex-basis: 50%; display: flex; justify-content: center; }
[class*="image-effect"] { height: 250px; width: 250px; position: relative; overflow: hidden; }
[class*="image-effect"] img { width: 100%; height: 100%; transition: all 0.5s; }

/* Properties can generally be animated if they are expressed by a color or by a number */

/* BUTTONS */

/* Only target two properties, not all */
.transition { transition: background-color 1s ease-in-out 1s, color 0.5s ease 0.5s; }
.transition:hover { background-color: teal; color: #1f1f1f; }

.squeeze:hover { transform: scaleY(2) scaleX(0.5); }

.skew:hover { transform: skew(5deg,10deg); }

/* Origin is the anchor point for the animation, works with x/y values */
.origin:hover { transform-origin: top right; transform: rotate(-30deg); }

/* Will move the element towards the user, requires perspective on parent */
.translate-3d:hover { transform: translateZ(20px); }

/* Do a flip! */
.rotate-3d:hover { transform: rotateY(-150deg); }

.bg-rotate::before { content: ""; position: absolute; left: 0; top: 0; z-index: -1; background: teal; height: 100%; width: 100%; transform-origin: bottom left; transform: rotate(-90deg) scale(1.3); transition: transform 1s; }
.bg-rotate:hover::before { transform: rotate(0deg); }

.swipe::before { content: ""; position: absolute; left: 0; top: 0; z-index: -1; background: teal; height: 100%; width: 100%; transform: translate(100%); transition: transform 1s; }
.swipe:hover::before { transform: translate(0); }

.open::before,
.open::after { content: ""; position: absolute; left: 0; top: 0; z-index: -1; background: teal; height: 100%; width: 100%; transition: transform 1s; }
.open::before { transform: rotateX(-90deg); }
.open::after { transform: rotateY(-90deg); }

.open:hover::before { transform: rotateX(0deg); }
.open:hover::after { transform: rotateY(0deg); }

.bigger { transition: all 0.5s; }
.bigger:hover { font-weight: 700; letter-spacing: 5px; border-width: 3px; }

.message::before { content: "Hello"; display: flex; justify-content: center; align-items: center; position: absolute; left: 0; top: 0; background: teal; height: 100%; width: 100%; transform: translateY(-100%); transition: transform 1s; }
.message:hover::before { transform: translateY(0); }

.stripe::before { content: ""; position: absolute; left: 0; top: 0; z-index: -1; background: teal; height: 40px; width: 100%; transform: translateX(-100%) rotate(45deg); transition: transform 1s; }
.stripe:hover { background: teal; }
.stripe:hover::before { transform: translateX(100%) rotate(45deg); }

.checker::before,
.checker::after { display: flex; justify-content: center; align-items: center; position: absolute; left: 0; top: 0; background: teal; height: 100%; width: 100%; transition: all 1s; }
.checker::before { content: "Checker"; }
.checker::after { content: "Checker"; transform: translate(-100%, 100%); }
.checker:hover::before { transform: translate(100%, -100%); }
.checker:hover::after { transform: translate(0); }

.zoom::before { content: "Zoom"; display: flex; justify-content: center; align-items: center; position: absolute; left: 0; top: 0; background: teal; height: 100%; width: 100%; transition: all 1s; transform: scale(5); opacity: 0; }
.zoom:hover::before { transform: scale(1); opacity: 1; }

.round-swipe::before { content: ""; position: absolute; left: 0; top: 0; z-index: -1; background: teal; height: 0%; width: 100%; border-radius: 0 0 50% 50%; transition: all 1s; }
.round-swipe:hover::before { height: 200%; }

/* Chaining pseudo elements with animation delay */
.flip { overflow: visible; }
.flip::before,
.flip::after { border-radius: 5px; display: flex; justify-content: center; align-items: center; position: absolute; left: 0; top: 0; height: 100%; width: 100%; transition: all 1s; transform-origin: top; transform: rotateX(270deg); }
.flip::before { content: "Flip Two"; background: cornflowerblue; }
.flip::after { content: "Flip Three"; background: darkslateblue; transition-delay: 0.5s; }
.flip:hover::before,
.flip:hover::after { transform: rotateX(0); }

.swap { overflow: visible; background: transparent; color: transparent; }
.swap::before,
.swap::after { display: flex; justify-content: center; align-items: center; position: absolute; top: 0; background: teal; height: 100%; width: 100%; transition: all 1s; border-radius: 5px; color: white; }
.swap::before { content: "Right"; left: 0; }
.swap::after { content: "Left"; left: -100%; opacity: 0; transform: scale(0) rotateY(0deg); }
.swap:hover::before { left: 100%; transform: scale(0) rotateY(360deg); opacity: 0; }
.swap:hover::after { left: 0; transform: scale(1) rotateY(360deg); opacity: 1; }

.circles { border: none; overflow: visible; border-radius: 5px; }
.circles::before,
.circles::after { content: ""; position: absolute; top: 50%; background: teal; height: 20px; width: 20px; transition: all 0.3s; border-radius: 50%; transform: translateY(-50%); z-index: -1; }
.circles::before { left: 0; box-shadow: -100px 0 0 teal; transform: translate(-50%, -50%); }
.circles::after { right: 0; box-shadow: 100px 0 0 teal; transform: translate(50%, -50%); z-index: -1; }
.circles span { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: teal; border-radius: 5px; transform: scale(0); transition: all 0.3s; z-index: -1; }
.circles:hover::before { left: 50%; box-shadow: 30px 0 0 teal; opacity: 1; }
.circles:hover::after { right: 50%; box-shadow: -30px 0 0 teal; opacity: 1; }
.circles:hover span { transform: scale(1); transition-delay: 0.4s; }

.shadows { overflow: visible; border: none; }
.shadows::before,
.shadows::after { content: ""; position: absolute; height: 100%; width: 100%; transition: all 1s; z-index: -1; mix-blend-mode: multiply; }
.shadows::before { background: cornflowerblue; left: -3px; top: -3px; transform-origin: top; }
.shadows::after { background: darkslateblue; left: 3px; top: 3px; transform-origin: bottom; }
.shadows:hover::before { top: -6px; left: 0; transform: perspective(1000px) rotateX(80deg); transition: all 0.2s; }
.shadows:hover::after { top: 6px; left: 0; transform: perspective(1000px) rotateX(-80deg); transition: all 0.2s; }

.mosaic::before,
.mosaic::after,
.mosaic span::before,
.mosaic span::after { content: ""; position: absolute; height: 100%; width: 25%; z-index: -1; background: teal; transition: all 0.3s; }
.mosaic::before { left: -25%; top: 0; }
.mosaic::after { top: -100%; left: 25%; }
.mosaic:hover::before { top: 0; left: 0; }
.mosaic:hover::after { top: 0; left: 25%; }
.mosaic span::before { top: 100%; right: 25%; }
.mosaic span::after { top: 0; right: -25%; }
.mosaic:hover span::before { top: 0; right: 25%; }
.mosaic:hover span::after { top: 0; right: 0; }

.border-grid { border: none; overflow: visible; margin: 0 10px; padding: 0; height: 60px; width: 200px; display: flex; justify-content: center; align-items: center; }
.border-grid::before,
.border-grid::after { content: ""; position: absolute; z-index: -1; transition: all 0.4s; }
.border-grid::before { height: 90px; width: 200px; top: -15px; left: 0; border-left: 2px solid teal; border-right: 2px solid coral; }
.border-grid::after { height: 60px; width: 230px; top: 0; left: -15px; border-top: 2px solid teal; border-bottom: 2px solid coral; transition-delay: 0.2s; }
.border-grid:hover::before { transform: rotateY(180deg); }
.border-grid:hover::after { transform: rotateX(180deg); }

.border-grow-2 { border: none; overflow: visible; border-radius: 0; background: linear-gradient(145deg, teal 0%, coral 100%);  }
.border-grow-2::before,
.border-grow-2::after { content: ""; position: absolute; height: 24px; width: 24px; z-index: -1; transition: all 0.25s; }
.border-grow-2::before { top: -5px; left: -5px; border-left: 2px solid teal; border-top: 2px solid teal; }
.border-grow-2::after { bottom: -5px; right: -5px; border-bottom: 2px solid coral; border-right: 2px solid coral; }
.border-grow-2:hover::before { height: calc(100% + 7px); width: calc(100% + 7px); }
.border-grow-2:hover::after { height: calc(100% + 7px); width: calc(100% + 7px); }

.letter { overflow: visible; }
.letter span { position: relative; }
.letter::before { content: ""; top: 0; left: 0; position: absolute; height: 100%; width: 100%; transition: all 0.5s; z-index: -1; background: teal; opacity: 0; }
.letter span::before { content: "L"; position: absolute; transition: all 0.5s; }
.letter:hover span { color: transparent; }
.letter:hover::before { opacity: 1; transform: rotate(15deg); }
.letter:hover span::before { font-size: 60px; transform: translate(-70%, -40%) rotate(360deg); color: white; }

.border-grow-4 { border: none; }
.border-grow-4::before,
.border-grow-4::after,
.border-grow-4 span::before,
.border-grow-4 span::after { content: ""; position: absolute; transition: all 0.5s; background: teal; }
.border-grow-4::before { height: 2px; width: 100%; top: 0; left: -100%; }
.border-grow-4::after { height: 2px; width: 100%; bottom: 0; right: -100%; }
.border-grow-4 span::before { height: 100%; width: 2px; top: -100%; right: 0; }
.border-grow-4 span::after { height: 100%; width: 2px; bottom: -100%; left: 0; }
.border-grow-4 span::before { position: absolute; transition: all 0.5s; }
.border-grow-4:hover::before { left: 0; }
.border-grow-4:hover::after { right: 0; }
.border-grow-4:hover span::before { top: 0; }
.border-grow-4:hover span::after { bottom: 0; }

/* Wave image is 22x118px */

.inner-wave { position: absolute; top: calc(100% + 22px); left: 0; width: 100%; height: 100%; background: #00aeff; z-index: -1; transition: all 2s; }
.inner-wave::before { content: ""; position: absolute; left: 0; top: -22px; background: url('./images/wave.png'); height: 22px; width: 100%; animation: wave 0.5s linear infinite; }
.wave:hover .inner-wave { top: 0; }

@keyframes wave {
    0% { background-position-x: 0; }
    100% { background-position-x: 118px; }
}

.cuts { border: none; position: relative; }
.cuts span,
.cuts span::before { content: ""; position: absolute; transition: all 0.5s; }
.cuts span { border: 1px solid turquoise; border-radius: 5px; width: calc(100% - 2px); height: calc(100% - 2px); top: 0; left: 0; background: transparent; z-index: -1; }
.cuts span::before { background: #1f1f1f; height: 500%; width: 8%; top: 50%; left: 50%; transform: translate(-50%, -50%) rotate(-60deg); border-radius: 5px; }
.cuts:hover span::before { background: teal; width: 100%; transform: translate(-50%, -50%) rotate(60deg); }

.skewed { overflow: visible; border: none; }
.skewed::before,
.skewed::after { content: ""; position: absolute; height: 100%; width: 50%; z-index: -1; transform: skewX(30deg); transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
.skewed::before { left: -1%; top: -5px; background: cornflowerblue; }
.skewed::after { left: 52%; top: 5px; background: darkslateblue; }
.skewed:hover::before { transform: skewX(0deg); top: 0; left: 50%; }
.skewed:hover::after { transform: skewX(0deg); top: 0; left: 0; }

.pulsing { overflow: visible; }
.pulsing::before { content: ""; position: absolute; height: 100%; width: 100%; top: 0; left: 0; background: teal; transition: all 0.25s; z-index: -1; border-radius: 5px; }
.pulsing:hover { transform: translateY(-3px); box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2); }
.pulsing:active { transform: translateY(-1px); box-shadow: 0 5px 10px rgba(255, 255, 255, 0.2); }
.pulsing:hover::before { transform: scale(1.4, 1.6); opacity: 0; }

.diagonal-swipe::before,
.diagonal-swipe::after  { content: ""; position: absolute; top: 0; left: 0; bottom: 0; right: 0; border-top: 30px solid teal; border-bottom: 30px solid teal; z-index: -1; transition: all 0.5s; }
.diagonal-swipe::before { border-right: 30px solid transparent; transform: translateX(-100%); }
.diagonal-swipe::after { border-left: 30px solid transparent; transform: translateX(100%); }
.diagonal-swipe:hover::before,
.diagonal-swipe:hover::after { transform: translateX(0); }

/* IMAGES */

.image-effect-1 .caption { color: white; position: absolute; top: 0; left: 0; height: 100%; width: 100%; display: flex; justify-content: center; align-items: center; text-transform: uppercase; opacity: 0; transition: all 0.5s; background: rgba(0, 0, 0, 0); }
.image-effect-1:hover .caption { opacity: 1; background: rgba(0, 128, 128, 0.7); }
.image-effect-1:hover img { transform: scale(1.3) rotate(15deg); }

.image-effect-2 .caption { color: white; position: absolute; top: 0; left: 0; height: 100%; width: 100%; display: flex; justify-content: center; align-items: center; text-transform: uppercase; opacity: 0; transition: all 0.5s; background: rgba(0, 0, 0, 0); transform: translateX(-100%); }
.image-effect-2:hover .caption { opacity: 1; background: rgba(0, 128, 128, 0.7); transform: translateX(0); }
.image-effect-2:hover img { transform: scale(1.3); }

.image-effect-3 .caption { color: white; position: absolute; top: 0; left: 0; height: 100%; width: 100%; display: flex; justify-content: center; align-items: center; text-transform: uppercase; opacity: 0; transition: all 0.5s; background: rgba(0, 0, 0, 0); transform: translateX(-100%); }
.image-effect-3:hover .caption { opacity: 1; background: rgba(0, 128, 128, 0.7); transform: translateX(0); }
.image-effect-3:hover img { transform: translate(100%); }

.image-effect-4 .caption { color: white; position: absolute; bottom: 0; left: 0; height: 30%; width: 100%; display: flex; justify-content: center; align-items: center; text-transform: uppercase; transition: all 0.5s; background: teal; transform: translateY(100%); }
.image-effect-4:hover .caption { transform: translateY(0); }
.image-effect-4:hover img { transform: translateY(-30%); }

.image-effect-5::before { content: ""; background: teal; opacity: 0.5; position: absolute; top: 0; left: 0; height: 100%; width: 100%; transition: all 0.5s; transform: translateY(100%); transition-delay: 0.25s; }
.image-effect-5 .caption { color: white; position: absolute; top: 0; left: 0; height: 100%; width: 100%; display: flex; justify-content: center; align-items: center; text-transform: uppercase; transition: all 0.5s; transform: translateY(20px); opacity: 0; }
.image-effect-5:hover::before { transform: translateY(0); transition-delay: 0; }
.image-effect-5:hover .caption { opacity: 1; transform: translateY(0); transition-delay: 0.3s; }

.image-effect-6 { border: 3px solid white; }
.image-effect-6:hover img { transform: scale(2) rotate(15deg); }