body { background: #1f1f1f; font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif; overflow-x: hidden; }
section { max-width: 1200px; margin: 0 auto; display: flex; flex-wrap: wrap; justify-content: center; gap: 2em; padding: 1em 2em 2em; perspective: 500px; }
main { margin-top: 2em; }
h1, h2 { color: white; text-align: center; }
button, a { transition: all 1s; background: transparent; padding: 1em 3em; font-size: 18px; border: 1px solid turquoise; color: white; border-radius: 5px; }
a { text-decoration: none; position: relative; overflow: hidden; }
ul { display: flex; flex-wrap: wrap; margin: 0; padding: 0; }
ul li { list-style: none; }
ul li a { padding: 0.5em 1em; }
ul:not(:last-child) { margin-bottom: 20px; }
ul li:not(:last-child) { margin-right: 20px; }

.half-width { flex-basis: 50%; display: flex; justify-content: center; }
.white-bg { max-width: none; width: 100%; display: block; background: white; }
.white-bg h2,
.white-bg p,
.white-bg a { color: #1f1f1f; }
.misc div { margin: 40px auto; }

[class*="image-effect"] { height: 280px; width: 280px; position: relative; overflow: hidden; }
[class*="image-effect"] .caption h3,
[class*="image-effect"] .caption p, 
[class*="image-effect"] .caption a { color: white; }
[class*="image-effect"] img { width: 100%; height: 100%; transition: all 0.5s; }
[class*="card-effect"] { width: 280px; position: relative; overflow: hidden; }

/* Properties can generally be animated if they are expressed by a color or by a number */

/* BUTTONS */

/* Only target two properties, not all */
.transition { transition: background-color 1s ease-in-out 1s, color 0.5s ease 0.5s; }
.transition:hover { background-color: teal; color: #1f1f1f; }

.squeeze:hover { transform: scaleY(2) scaleX(0.5); }

.skew:hover { transform: skew(5deg,10deg); }

/* Origin is the anchor point for the animation, works with x/y values */
.origin:hover { transform-origin: top right; transform: rotate(-30deg); }

/* Will move the element towards the user, requires perspective on parent */
.translate-3d:hover { transform: translateZ(20px); }

/* Do a flip! */
.rotate-3d:hover { transform: rotateY(-150deg); }

.bg-rotate::before { content: ""; position: absolute; left: 0; top: 0; z-index: -1; background: teal; height: 100%; width: 100%; transform-origin: bottom left; transform: rotate(-90deg) scale(1.3); transition: transform 1s; }
.bg-rotate:hover::before { transform: rotate(0deg); }

.swipe::before { content: ""; position: absolute; left: 0; top: 0; z-index: -1; background: teal; height: 100%; width: 100%; transform: translate(100%); transition: transform 1s; }
.swipe:hover::before { transform: translate(0); }

.open::before,
.open::after { content: ""; position: absolute; left: 0; top: 0; z-index: -1; background: teal; height: 100%; width: 100%; transition: transform 1s; }
.open::before { transform: rotateX(-90deg); }
.open::after { transform: rotateY(-90deg); }

.open:hover::before { transform: rotateX(0deg); }
.open:hover::after { transform: rotateY(0deg); }

.bigger { transition: all 0.5s; }
.bigger:hover { font-weight: 700; letter-spacing: 5px; border-width: 3px; }

.message::before { content: "Hello"; display: flex; justify-content: center; align-items: center; position: absolute; left: 0; top: 0; background: teal; height: 100%; width: 100%; transform: translateY(-100%); transition: transform 1s; }
.message:hover::before { transform: translateY(0); }

.stripe::before { content: ""; position: absolute; left: 0; top: 0; z-index: -1; background: teal; height: 40px; width: 100%; transform: translateX(-100%) rotate(45deg); transition: transform 1s; }
.stripe:hover { background: teal; }
.stripe:hover::before { transform: translateX(100%) rotate(45deg); }

.checker::before,
.checker::after { display: flex; justify-content: center; align-items: center; position: absolute; left: 0; top: 0; background: teal; height: 100%; width: 100%; transition: all 1s; }
.checker::before { content: "Checker"; }
.checker::after { content: "Checker"; transform: translate(-100%, 100%); }
.checker:hover::before { transform: translate(100%, -100%); }
.checker:hover::after { transform: translate(0); }

.zoom::before { content: "Zoom"; display: flex; justify-content: center; align-items: center; position: absolute; left: 0; top: 0; background: teal; height: 100%; width: 100%; transition: all 1s; transform: scale(5); opacity: 0; }
.zoom:hover::before { transform: scale(1); opacity: 1; }

.round-swipe::before { content: ""; position: absolute; left: 0; top: 0; z-index: -1; background: teal; height: 0%; width: 100%; border-radius: 0 0 50% 50%; transition: all 1s; }
.round-swipe:hover::before { height: 200%; }

/* Chaining pseudo elements with animation delay */
.flip { overflow: visible; }
.flip::before,
.flip::after { border-radius: 5px; display: flex; justify-content: center; align-items: center; position: absolute; left: 0; top: 0; height: 100%; width: 100%; transition: all 1s; transform-origin: top; transform: rotateX(270deg); }
.flip::before { content: "Flip Two"; background: teal; }
.flip::after { content: "Flip Three"; background: turquoise; transition-delay: 0.5s; }
.flip:hover::before,
.flip:hover::after { transform: rotateX(0); }

.swap { overflow: visible; background: transparent; color: transparent; }
.swap::before,
.swap::after { display: flex; justify-content: center; align-items: center; position: absolute; top: 0; background: teal; height: 100%; width: 100%; transition: all 1s; border-radius: 5px; color: white; }
.swap::before { content: "Right"; left: 0; }
.swap::after { content: "Left"; left: -100%; opacity: 0; transform: scale(0) rotateY(0deg); }
.swap:hover::before { left: 100%; transform: scale(0) rotateY(360deg); opacity: 0; }
.swap:hover::after { left: 0; transform: scale(1) rotateY(360deg); opacity: 1; }

.circles { border: none; overflow: visible; border-radius: 5px; }
.circles::before,
.circles::after { content: ""; position: absolute; top: 50%; background: teal; height: 20px; width: 20px; transition: all 0.3s; border-radius: 50%; transform: translateY(-50%); z-index: -1; }
.circles::before { left: 0; box-shadow: -100px 0 0 teal; transform: translate(-50%, -50%); }
.circles::after { right: 0; box-shadow: 100px 0 0 teal; transform: translate(50%, -50%); z-index: -1; }
.circles span { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: teal; border-radius: 5px; transform: scale(0); transition: all 0.3s; z-index: -1; }
.circles:hover::before { left: 50%; box-shadow: 30px 0 0 teal; opacity: 1; }
.circles:hover::after { right: 50%; box-shadow: -30px 0 0 teal; opacity: 1; }
.circles:hover span { transform: scale(1); transition-delay: 0.4s; }

.shadows { overflow: visible; border: none; }
.shadows::before,
.shadows::after { content: ""; position: absolute; height: 100%; width: 100%; transition: all 1s; z-index: -1; mix-blend-mode: multiply; }
.shadows::before { background: teal; left: -3px; top: -3px; transform-origin: top; }
.shadows::after { background: turquoise; left: 3px; top: 3px; transform-origin: bottom; }
.shadows:hover::before { top: -6px; left: 0; transform: perspective(1000px) rotateX(80deg); transition: all 0.2s; }
.shadows:hover::after { top: 6px; left: 0; transform: perspective(1000px) rotateX(-80deg); transition: all 0.2s; }

.mosaic::before,
.mosaic::after,
.mosaic span::before,
.mosaic span::after { content: ""; position: absolute; height: 100%; width: 25%; z-index: -1; background: teal; transition: all 0.3s; }
.mosaic::before { left: -25%; top: 0; }
.mosaic::after { top: -100%; left: 25%; }
.mosaic:hover::before { top: 0; left: 0; }
.mosaic:hover::after { top: 0; left: 25%; }
.mosaic span::before { top: 100%; right: 25%; }
.mosaic span::after { top: 0; right: -25%; }
.mosaic:hover span::before { top: 0; right: 25%; }
.mosaic:hover span::after { top: 0; right: 0; }

.clip-bg { width: 200px; line-height: 60px; text-align: center; border: none; }
.clip-bg span { content: ""; position: absolute; top: 0; left: 0; height: 100%; width: 100%; background: teal; transition: all 0.3s; }
.clip-bg span:nth-child(2) { background: white; color: teal; transition: 0.5s; clip-path: polygon(60% 0, 100% 0, 100% 100%, 60% 100%, 40% 50%); }
.clip-bg span:nth-child(2):hover { clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0% 50%); }
.clip-bg span:nth-child(1):hover ~ span { clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%, 100% 50%);  }

.border-grid { border: none; overflow: visible; margin: 0 10px; padding: 0; height: 60px; width: 200px; display: flex; justify-content: center; align-items: center; }
.border-grid::before,
.border-grid::after { content: ""; position: absolute; z-index: -1; transition: all 0.4s; }
.border-grid::before { height: 90px; width: 200px; top: -15px; left: 0; border-left: 2px solid teal; border-right: 2px solid turquoise; }
.border-grid::after { height: 60px; width: 230px; top: 0; left: -15px; border-top: 2px solid teal; border-bottom: 2px solid turquoise; transition-delay: 0.2s; }
.border-grid:hover::before { transform: rotateY(180deg); }
.border-grid:hover::after { transform: rotateX(180deg); }

.border-grow-2 { border: none; overflow: visible; border-radius: 0; background: linear-gradient(145deg, teal 0%, turquoise 100%);  }
.border-grow-2::before,
.border-grow-2::after { content: ""; position: absolute; height: 24px; width: 24px; z-index: -1; transition: all 0.25s; }
.border-grow-2::before { top: -5px; left: -5px; border-left: 2px solid teal; border-top: 2px solid teal; }
.border-grow-2::after { bottom: -5px; right: -5px; border-bottom: 2px solid turquoise; border-right: 2px solid turquoise; }
.border-grow-2:hover::before { height: calc(100% + 7px); width: calc(100% + 7px); }
.border-grow-2:hover::after { height: calc(100% + 7px); width: calc(100% + 7px); }

.letter { overflow: visible; }
.letter span { position: relative; }
.letter::before { content: ""; top: 0; left: 0; position: absolute; height: 100%; width: 100%; transition: all 0.5s; z-index: -1; background: teal; opacity: 0; }
.letter span::before { content: "L"; position: absolute; transition: all 0.5s; }
.letter:hover span { color: transparent; }
.letter:hover::before { opacity: 1; transform: rotate(15deg); }
.letter:hover span::before { font-size: 60px; transform: translate(-70%, -40%) rotate(360deg); color: white; }

.border-grow-4 { border: none; }
.border-grow-4::before,
.border-grow-4::after,
.border-grow-4 span::before,
.border-grow-4 span::after { content: ""; position: absolute; transition: all 0.5s; background: teal; }
.border-grow-4::before { height: 2px; width: 100%; top: 0; left: -100%; }
.border-grow-4::after { height: 2px; width: 100%; bottom: 0; right: -100%; }
.border-grow-4 span::before { height: 100%; width: 2px; top: -100%; right: 0; }
.border-grow-4 span::after { height: 100%; width: 2px; bottom: -100%; left: 0; }
.border-grow-4 span::before { position: absolute; transition: all 0.5s; }
.border-grow-4:hover::before { left: 0; }
.border-grow-4:hover::after { right: 0; }
.border-grow-4:hover span::before { top: 0; }
.border-grow-4:hover span::after { bottom: 0; }

/* Wave image is 22x118px */

.inner-wave { position: absolute; top: calc(100% + 22px); left: 0; width: 100%; height: 100%; background: #00aeff; z-index: -1; transition: all 2s; }
.inner-wave::before { content: ""; position: absolute; left: 0; top: -22px; background: url('./images/wave.png'); height: 22px; width: 100%; animation: wave 0.5s linear infinite; }
.wave:hover .inner-wave { top: 0; }

@keyframes wave {
    0% { background-position-x: 0; }
    100% { background-position-x: 118px; }
}

.cuts { border: none; position: relative; }
.cuts span,
.cuts span::before { content: ""; position: absolute; transition: all 0.5s; }
.cuts span { border: 1px solid turquoise; border-radius: 5px; width: calc(100% - 2px); height: calc(100% - 2px); top: 0; left: 0; background: transparent; z-index: -1; }
.cuts span::before { background: #1f1f1f; height: 500%; width: 8%; top: 50%; left: 50%; transform: translate(-50%, -50%) rotate(-60deg); border-radius: 5px; }
.cuts:hover span::before { background: teal; width: 100%; transform: translate(-50%, -50%) rotate(60deg); }

.skewed { overflow: visible; border: none; }
.skewed::before,
.skewed::after { content: ""; position: absolute; height: 100%; width: 50%; z-index: -1; transform: skewX(30deg); transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
.skewed::before { left: -1%; top: -5px; background: teal; }
.skewed::after { left: 52%; top: 5px; background: turquoise; }
.skewed:hover::before { transform: skewX(0deg); top: 0; left: 50%; }
.skewed:hover::after { transform: skewX(0deg); top: 0; left: 0; }

.pulsing { overflow: visible; }
.pulsing::before { content: ""; position: absolute; height: 100%; width: 100%; top: 0; left: 0; background: teal; transition: all 0.25s; z-index: -1; border-radius: 5px; }
.pulsing:hover { transform: translateY(-3px); box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2); }
.pulsing:active { transform: translateY(-1px); box-shadow: 0 5px 10px rgba(255, 255, 255, 0.2); }
.pulsing:hover::before { transform: scale(1.4, 1.6); opacity: 0; }

.diagonal-swipe::before,
.diagonal-swipe::after  { content: ""; position: absolute; top: 0; left: 0; bottom: 0; right: 0; border-top: 30px solid teal; border-bottom: 30px solid teal; z-index: -1; transition: all 0.5s; }
.diagonal-swipe::before { border-right: 30px solid transparent; transform: translateX(-100%); }
.diagonal-swipe::after { border-left: 30px solid transparent; transform: translateX(100%); }
.diagonal-swipe:hover::before,
.diagonal-swipe:hover::after { transform: translateX(0); }

/* IMAGES */

.image-effect-1 .caption { position: absolute; top: 0; left: 0; height: 100%; width: 100%; display: flex; justify-content: center; align-items: center; text-transform: uppercase; opacity: 0; transition: all 0.5s; background: rgba(0, 0, 0, 0); }
.image-effect-1:hover .caption { opacity: 1; background: rgba(0, 128, 128, 0.7); }
.image-effect-1:hover img { transform: scale(1.3) rotate(15deg); }

.image-effect-2 .caption { position: absolute; top: 0; left: 0; height: 100%; width: 100%; display: flex; justify-content: center; align-items: center; text-transform: uppercase; opacity: 0; transition: all 0.5s; background: rgba(0, 0, 0, 0); transform: translateX(-100%); }
.image-effect-2:hover .caption { opacity: 1; background: rgba(0, 128, 128, 0.7); transform: translateX(0); }
.image-effect-2:hover img { transform: scale(1.3); }

.image-effect-3 .caption { position: absolute; top: 0; left: 0; height: 100%; width: 100%; display: flex; justify-content: center; align-items: center; text-transform: uppercase; opacity: 0; transition: all 0.5s; background: rgba(0, 0, 0, 0); transform: translateX(-100%); }
.image-effect-3:hover .caption { opacity: 1; background: rgba(0, 128, 128, 0.7); transform: translateX(0); }
.image-effect-3:hover img { transform: translate(100%); }

.image-effect-4 .caption { position: absolute; bottom: 0; left: 0; height: 30%; width: 100%; display: flex; justify-content: center; align-items: center; text-transform: uppercase; transition: all 0.5s; background: teal; transform: translateY(100%); }
.image-effect-4:hover .caption { transform: translateY(0); }
.image-effect-4:hover img { transform: translateY(-30%); }

.image-effect-5::before { content: ""; background: teal; opacity: 0.5; position: absolute; top: 0; left: 0; height: 100%; width: 100%; transition: all 0.5s; transform: translateY(100%); transition-delay: 0.25s; }
.image-effect-5 .caption { position: absolute; top: 0; left: 0; height: 100%; width: 100%; display: flex; justify-content: center; align-items: center; text-transform: uppercase; transition: all 0.5s; transform: translateY(20px); opacity: 0; }
.image-effect-5:hover::before { transform: translateY(0); transition-delay: 0; }
.image-effect-5:hover .caption { opacity: 1; transform: translateY(0); transition-delay: 0.3s; }

.image-effect-6 { border: 3px solid #aaa; }
.image-effect-6:hover img { transform: scale(2) rotate(15deg); }

.image-effect-7::before { content: ""; background: teal; opacity: 0.8; position: absolute; top: 0; left: 0; height: 200%; width: 150%; transition: all 0.5s; transform: translate(550px, 300px) rotate(45deg); }
.image-effect-7 .caption { position: absolute; top: 0; left: 0; height: 100%; width: 100%; display: flex; flex-direction: column; justify-content: space-around; align-items: center; text-transform: uppercase; }
.image-effect-7 h3 { text-align: center; font-size: 20px; margin-top: 20px; padding: 10px; background: rgba(31, 31, 31, 0.7); transform: translate(200px, -200px); transition: all 0.25s; width: 100%; }
.image-effect-7 p,
.image-effect-7 a { text-align: center; transition: all 0.25s; transform: translate(-200px, 200px); }
.image-effect-7:hover::before { transform: translate(-50px, -150px) rotate(45deg); }
.image-effect-7:hover h3 { transform: translate(0, 0); transition-delay: 0.2s; }
.image-effect-7:hover p,
.image-effect-7:hover a { transform: translate(0, 0); transition-delay: 0.4s; }

.image-effect-8::before { content: ""; background: teal; opacity: 0.8; position: absolute; top: 0; left: 0; height: 200%; width: 150%; transition: all 0.5s; transform: translate(560px, -100px) rotate(100deg); }
.image-effect-8 .caption { position: absolute; top: 0; left: 0; height: 100%; width: 100%; display: flex; flex-direction: column; justify-content: space-around; align-items: center; text-transform: uppercase; }
.image-effect-8 h3 { text-align: center; font-size: 20px; margin-top: 20px; padding: 10px; background: rgba(31, 31, 31, 0.7); transform: translateY(-150px); transition: all 0.25s; width: 100%; }
.image-effect-8 p { text-align: center; transition: all 0.25s; transform: translateX(300px) rotate(90deg); transition: all 0.5s; }
.image-effect-8 a { text-align: center; transition: all 0.25s; transform: translateY(300px); transition: all 0.5s; }
.image-effect-8:hover::before { transform: translate(-50px, -150px) rotate(45deg); }
.image-effect-8:hover h3 { transform: translate(0, 0); transition-delay: 0.5s; }
.image-effect-8:hover p { transform: translateX(0) rotate(0deg); transition-delay: 0.6s; }
.image-effect-8:hover a { transform: translateX(0); transition-delay: 0.6s; }

.image-effect-9::before { content: ""; background: teal; opacity: 0.8; position: absolute; top: 0; left: 0; height: 100%; width: 100%; transition: all 0.5s; transform: scale(0) rotate(-180deg); transition-delay: 0.5s; }
.image-effect-9 .caption { position: absolute; top: 0; left: 0; height: 100%; width: 100%; display: flex; flex-direction: column; justify-content: space-around; align-items: center; text-transform: uppercase; }
.image-effect-9 h3 { text-align: center; font-size: 20px; margin-top: 20px; padding: 10px; background: rgba(31, 31, 31, 0.7); opacity: 0; transition: all 0.5s; width: 100%; }
.image-effect-9 p { text-align: center; transition: all 0.25s; transform: translateX(300px) rotate(90deg); transition: all 0.5s; opacity: 0; }
.image-effect-9 a { text-align: center; transition: all 0.25s; transform: translateY(300px); transition: all 0.5s; opacity: 0; }
.image-effect-9 img { transition: all 0.5s; transition-delay: 0.5s; }
.image-effect-9:hover::before { transform: scale(1) rotate(0deg); }
.image-effect-9:hover h3,
.image-effect-9:hover p,
.image-effect-9:hover a { opacity: 1; transition-delay: 1s; transform: translateX(0) rotate(0deg); }
.image-effect-9:hover img { transform: scale(0); transition-delay: 0s; }

.image-effect-10::before { content: ""; background: teal; position: absolute; top: 0; left: 0; height: 100%; width: 100%; opacity: 0; }
.image-effect-10 .caption { position: absolute; top: 0; left: 0; height: 100%; width: 100%; display: flex; flex-direction: column; justify-content: space-around; align-items: center; text-transform: uppercase; }
.image-effect-10 h3 { text-align: center; font-size: 20px; margin-top: 20px; padding: 10px; background: rgba(31, 31, 31, 0.7); opacity: 0; transform: scale(5); transition: all 0.25s; width: 100%; }
.image-effect-10 p { text-align: center; transition: all 0.25s; transition: all 0.5s; opacity: 0; transform: scale(5);  }
.image-effect-10 a { text-align: center; transition: all 0.25s; transform: translateY(150px); transition: all 0.5s; }
.image-effect-10:hover::before { opacity: 1; transition: all 0.5s; }
.image-effect-10:hover h3 { opacity: 1; transform: scale(1); transition-delay: 0.4s; }
.image-effect-10:hover p { opacity: 1; transform: scale(1); transition-delay: 0.4s; }
.image-effect-10:hover a { transform: translateY(0); transition-delay: 0.5s; }

.image-effect-11::before { content: ""; background: teal; position: absolute; top: 0; left: 0; height: 100%; width: 100%; opacity: 0; }
.image-effect-11 .caption { position: absolute; top: 0; left: 0; height: 100%; width: 100%; display: flex; flex-direction: column; justify-content: space-around; align-items: center; text-transform: uppercase; }
.image-effect-11 h3 { text-align: center; font-size: 20px; margin-top: 20px; padding: 10px; background: rgba(31, 31, 31, 0.7); opacity: 0; transform: translateY(150px); transition: all 0.25s; width: 100%; }
.image-effect-11 p { text-align: center; transition: all 0.25s; transition: all 0.5s; opacity: 0; transform: translateY(150px);  }
.image-effect-11 a { text-align: center; transition: all 0.25s; transform: translateY(150px); transition: all 0.5s; }
.image-effect-11 img { transition: all 0.5s; }
.image-effect-11:hover::before { opacity: 1; transition: all 0.5s; }
.image-effect-11:hover h3 { opacity: 1; transform: translateY(0); transition-delay: 0.4s; }
.image-effect-11:hover p { opacity: 1; transform: translateY(0); transition-delay: 0.5s; }
.image-effect-11:hover a { transform: translateY(0); transition-delay: 0.6s; }
.image-effect-11:hover img { transform: rotate(720deg) scale(0); opacity: 0; }

/* NAVIGATIONS  */

.navigation-1 li a { border: none; }
.navigation-1 li a::before { content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 2px; background: teal; transform: scaleX(0); transition: all 0.5s; transform-origin: left; }
.navigation-1 li a:hover::before { transform: scaleX(1); }
.navigation-1 li a::after { content: ""; position: absolute; bottom: 0; right: 0; width: 100%; height: 2px; background: teal; transform: scaleX(0); transition: all 0.5s; transform-origin: right; }
.navigation-1 li a:hover::after { transform: scaleX(1); }

.navigation-2 li a { border: none; }
.navigation-2 li a:hover { background: teal; }
.navigation-2 li a::before { content: ""; position: absolute; bottom: 12px; left: 12px; width: 12px; height: 12px; border: 3px solid teal; border-width: 0 0 3px 3px; transition: all 0.5s; opacity: 0; }
.navigation-2 li a::after { content: ""; position: absolute; top: 12px; right: 12px; width: 12px; height: 12px; border: solid teal; border-width: 3px 3px 0 0; transition: all 0.5s; opacity: 0; }
.navigation-2 li a:hover::before { opacity: 1; bottom: -8px; left: -8px; }
.navigation-2 li a:hover::after { opacity: 1; top: -8px; right: -8px; }

.navigation-3 li a { border: none; transition: all 0.5s; }
.navigation-3 li a span { content: ""; position: absolute; top: 0; left: 0; width: 25%; height: 100%; background: teal; z-index: -1; transform:scaleY(0); transform-origin: top; transition: all 0.5s; }
.navigation-3 li a:hover span { transform: scaleY(1); }
.navigation-3 li a span:nth-child(2) { left: 25%; transition-delay: 0.2s; }
.navigation-3 li a span:nth-child(3) { left: 50%; transition-delay: 0.4s; }
.navigation-3 li a span:nth-child(4) { left: 75%; transition-delay: 0.6s; }

.navigation-4 li a { border: none; }
.navigation-4 li a::before { content: ""; position: absolute; top: 120%; left: 0; width: 0; height: 5px; background: teal; transform: translateX(0); transition: all 0.5s; }
.navigation-4 li a:hover::before { width: 50%; transform: translateX(100%); }
.navigation-4 li a::after { content: ""; position: absolute; top: 120%; right: 0; width: 0; height: 5px; background: turquoise; transform: translateX(0); transition: all 0.5s; }
.navigation-4 li a:hover::after { width: 50%; transform: translateX(-100%); }

.navigation-5 li a { border: none; }
.navigation-5:hover li a { filter: blur(5px); opacity: 0.2; }
.navigation-5 li a:hover { opacity: 1; filter: blur(0); }
.navigation-5 li a::before { content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: teal; transform: scale(0); transition: all 0.5s; z-index: -1; }
.navigation-5 li a:hover::before { transform: scale(1); }

.navigation-6 { width: 100%; justify-content: center; }
.navigation-6 li { position: relative; margin: 0 !important; }
.navigation-6 li a { position: relative; display: block; border: none; overflow: hidden; height: 50px; border-radius: 0; }
.navigation-6 li a span { position: relative; width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; transition: all 0.5s; }
.navigation-6 li a::before { content: ""; position: absolute; top: 0; right: 0; width: 0; height: 100%; background: teal; transition: all 0.2s; }
.navigation-6 li a:hover::before { width: 100%; left: 0; transition-delay: 0.5s; }
.navigation-6 li a:hover span:nth-child(1) { transform: translateY(-100%); transition-delay: 0s; }
.navigation-6 li a:hover span:nth-child(2) { transform: translateY(-100%); transition-delay: 0s; }

.navigation-7 li a { border: none; }
.navigation-7 li a::before { content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; border-top: 2px solid teal; border-bottom: 2px solid teal; opacity: 0; transform: scaleY(2); transition: all 0.5s; }
.navigation-7 li a:hover::before { transform: scaleY(1.2); opacity: 1; }
.navigation-7 li a::after { content: ""; position: absolute; top: 2px; right: 0; width: 100%; height: 100%; background: teal; z-index: -1; transform: scale(0); transition: all 0.5s; }
.navigation-7 li a:hover::after { transform: scale(1); } 
.navigation-7 li a:hover { color: #1f1f1f; } 

.navigation-8 li a { border: none; border-radius: 0; }
.navigation-8 li a:hover { color: teal; }
.navigation-8 li a span:first-child::before { content: ""; position: absolute; top: 0; left: 0; width: 8px; height: 8px; border: solid teal; border-width: 3px 0 0 3px; transition: all 0.5s; opacity: 0; }
.navigation-8 li a:hover span:first-child::before { opacity: 1; top: -10px; left: -10px; }
.navigation-8 li a span:first-child::after { content: ""; position: absolute; top: 0; right: 0; width: 8px; height: 8px; border: solid teal; border-width: 3px 3px 0 0; transition: all 0.5s; opacity: 0; }
.navigation-8 li a:hover span:first-child::after { opacity: 1; top: -10px; right: -10px; }
.navigation-8 li a span:last-child::before { content: ""; position: absolute; bottom: 0; left: 0; width: 8px; height: 8px; border: solid teal; border-width: 0 0 3px 3px; transition: all 0.5s; opacity: 0; }
.navigation-8 li a:hover span:last-child::before { opacity: 1; bottom: -10px; left: -10px; }
.navigation-8 li a span:last-child::after { content: ""; position: absolute; bottom: 0; right: 0; width: 8px; height: 8px; border: solid teal; border-width: 0 3px 3px 0; transition: all 0.5s; opacity: 0; }
.navigation-8 li a:hover span:last-child::after { opacity: 1; bottom: -10px; right: -10px; }

.navigation-9 li a { border: none; border-radius: 0; }
.navigation-9 li a::before { content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; border-top: 2px solid teal; border-left: 2px solid teal; box-sizing: border-box; transform-origin: left; transition: all 0.5s; }
.navigation-9 li a:hover::before { width: 15px; height: 15px; transform: rotate(360deg); }
.navigation-9 li a::after { content: ""; position: absolute; bottom: 0; right: 0; width: 100%; height: 100%; border-bottom: 2px solid teal; border-right: 2px solid teal; box-sizing: border-box; transform-origin: right; transition: all 0.5s; }
.navigation-9 li a:hover::after { width: 15px; height: 15px; transform: rotate(360deg); }
.navigation-9 li a:hover { color: teal; } 

.navigation-10 { width: 100%; flex-direction: column; align-items: center; }
.navigation-10 li { margin-right: 0 !important; }
.navigation-10 li a { overflow: visible; height: 150px; margin: 0; padding: 0; position: relative; display: block; color: transparent; -webkit-text-stroke: 1px white; font-size: 80px; font-weight: 900; border: none; }
.navigation-10 li a::before,
.navigation-10 li a::after { content: attr(data-text); position: absolute; top: 0; left: 0; transition: 0.5s; }
.navigation-10 li a:hover::before { color: teal; z-index: 1; -webkit-text-stroke: 1px #1f1f1f; transform: translate(10px, -10px); }
.navigation-10 li a:hover::after { color: turquoise; z-index: 2; -webkit-text-stroke: 1px #1f1f1f; transform: translate(20px, -20px); }
.navigation-10 li a:hover { color: white; -webkit-text-stroke: 1px #1f1f1f; transition: 0.5s; }

.navigation-11 { width: 100%; flex-direction: column; align-items: center; }
.navigation-11 li { margin-right: 0 !important; overflow: hidden; position: relative; }
.navigation-11 li a { overflow: visible; margin: 0; padding: 0; position: relative; display: block; color: transparent; font-size: 80px; font-weight: 900; border: none; }
.navigation-11 li a::before { color: teal; content: attr(data-text); position: absolute; top: 0; left: 0; width: 100%; box-sizing: border-box; transition: 0.5s; clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%); transition-delay: 0.5s; }
.navigation-11 li a::after { color: teal; content: attr(data-text); position: absolute; top: 0; left: 0; width: 100%; box-sizing: border-box; transition: 0.5s; clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%); transition-delay: 0.5s; }
.navigation-11 li::before { background: darkred; content: ""; position: absolute; top: 50%; transform: translateY(-50%); left: -100%; height: 3px; width: 100%; transition: 0.5s; }
.navigation-11 li a:hover::before { color: darkred; transform: translate(10px, -3px); }
.navigation-11 li a:hover::after { color: darkred; transform: translate(-10px, 3px); }
.navigation-11 li:hover::before { left: 100%; }

/* CARDS */

.card-effect-1 { background: white; border-radius: 5px; box-shadow: 0 10px 30px rgba(0,0,0,0.1); }
.card-effect-1::before { content: ""; position: absolute; left: 0; bottom: calc(-100% + 5px); width: 100%; height: 100%; z-index: 1; transition: 0.5s; background: teal; }
.card-effect-1 .content { position: relative; z-index: 2; display: flex; flex-direction: column; align-items: center; padding: 20px; }
.card-effect-1 .content h3,
.card-effect-1 .content p { transition: all 1s; }
.card-effect-1:hover::before { bottom: 0; }
.card-effect-1:hover h3,
.card-effect-1:hover p,
.card-effect-1:hover a { color: white; }

.card-effect-2 { overflow: visible; background: white; border-radius: 5px; box-shadow: 0 10px 30px rgba(0,0,0,0.1); width: 300px; height: 180px; transition: 0.3s; padding: 20px; margin-top: 50px; }
.card-effect-2 .img-box { position: relative; height: 100%; width: 100%; transform: translateY(-60px); z-index: 1; }
.card-effect-2 img { width: 100%; border-radius: 5px; }
.card-effect-2:hover { height: 450px; }
.card-effect-2 .content { padding: 20px; display: flex; flex-direction: column; align-items: center; text-align: center; transition: 0.3s; transform: translateY(-500px); opacity: 0; }
.card-effect-2:hover .content { opacity: 1; transform: translateY(-300px); }

.card-effect-3 { overflow: visible; display: flex; position: relative; width: 500px; height: 300px; align-items: center; background: linear-gradient(0deg, rgba(0,128,128,0.3) 0%, rgba(0,128,128,0.1) 50%, rgba(255,255,255,1) 100%); border-radius: 5px; }
.card-effect-3 img { position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); width: 250px; transition: all 0.5s; }
.card-effect-3:hover img { left: 80%; width: 300px; }
.card-effect-3 .content { display: flex; flex-direction: column; align-items: flex-start; position: relative; padding: 40px; width: 40%; left: 20%; transition: 0.5s; opacity: 0; }
.card-effect-3:hover .content { opacity: 1; left: 0; }

.card-effect-4 { position: relative; width: 300px; height: 400px; background: white; transition: all 0.5s; border-radius: 20px; }
.card-effect-4:hover { box-shadow: 0 30px 50px rgba(0,0,0,0.2); }
.card-effect-4 .content { position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; }
.card-effect-4 .front { text-align: center; background: white; color: teal; }
.card-effect-4 .front h2 { margin-top: 80px; }
.card-effect-4 .front a { transition: 0.3s; }
.card-effect-4 .back { background: teal; transition: 0.5s; }
.card-effect-4 .back h2 { color: white; font-size: 120px; transition: 0.5s; }
.card-effect-4:hover .back { height: 80px; width: 80px; border-radius: 50%; top: 40px; left: 50%; transform: translateX(-50%); background: transparent; border: 2px solid teal; }
.card-effect-4:hover .back h2 { color: teal; font-size: 32px; }

.card-effect-5 { position: relative; cursor: pointer; width: 300px; }
.card-effect-5 .front { position: relative; height: 200px; width: 300px; background: #1f1f1f; display: flex; flex-direction: column; justify-content: center; align-items: center; transition: 0.5s; transform: translateY(100px); z-index: 1; }
.card-effect-5 .back { position: relative; width: 300px; height: 200px; background: #ccc; display: flex; flex-direction: column; justify-content: center; align-items: center; box-sizing: border-box; padding: 20px; transform: translateY(-100px); box-shadow: 20 50 rgba(0,0,0,0.8); transition: 0.5s; }
.card-effect-5:hover .front { background: teal; transform: translateY(0); }
.card-effect-5:hover .back { transform: translateY(0); }
.card-effect-5 imgbox { opacity: 0.2; transition: 0.5s; }
.card-effect-5 img { width: 100px; }
.card-effect-5:hover imgbox { opacity: 1; }

.card-effect-6 { overflow: visible; position: relative; width: 320px; height: 350px; border: 1px solid black; background: white; box-shadow: 0 2px 10px rgba(0,0,0,0.2); }
.card-effect-6::before,
.card-effect-6::after { content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: white; transition: 0.5s; border-radius: 5px; z-index: -1; border: 1px solid black; }
.card-effect-6:hover::before { transform: rotate(20deg); box-shadow: 0 2px 20px rgba(0,0,0,0.2); }
.card-effect-6:hover::after { transform: rotate(10deg); box-shadow: 0 2px 20px rgba(0,0,0,0.2); }
.card-effect-6 .img-box { position: absolute; top: 10px; right: 10px; left: 10px; bottom: 10px; background: teal; transition: 0.5s; }
.card-effect-6:hover .img-box { bottom: 80px; }
.card-effect-6 .content { position: absolute; left: 10px; right: 10px; bottom: 25px; height: 60px; text-align: center; opacity: 0; }
.card-effect-6:hover .content { opacity: 1; }
.card-effect-6 .content h2 { margin: 0; padding: 0; color: #ccc; font-size: 20px; }
.card-effect-6 .content span { margin: 0; padding: 0; color: black; font-size: 15px; }
.card-effect-6 img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; }

.card-effect-7 { position: relative; width: 300px; height: 400px; background: black; box-shadow: 0 30px 30px rgba(0,0,0,0.5); }
.card-effect-7 .content { position: absolute; bottom: 0; width: 80%; height: 80px; background: white; left: 10%; text-align: center; transition: 0.5s; overflow: hidden; }
.card-effect-7 p { width: 80%; margin: 10px auto; opacity: 0; }
.card-effect-7:hover .content { height: 100%; width: 100%; left: 0; opacity: 1; }
.card-effect-7:hover .content .caption { opacity: 1; }
.card-effect-7 .img-box { position: absolute; top: 0; left: 0; width: 100%; height: 100%; transition: 0.5s; } 
.card-effect-7 img { width: 100%; height: 100%; object-fit: cover; transition: 0.5s; }
.card-effect-7:hover img { opacity: 0; }

.bubble-card { flex-basis: 100%; }
.bubble-card .content { margin: auto; width: 500px; height: 250px; background-color: teal; padding: 20px 80px 20px 20px; border-radius: 10px; transition: all 0.5s; clip-path: circle(7% at 90% 20%); }
.bubble-card p { font-size: 24px; }
.bubble-card .content:hover { clip-path: circle(100%); }

.circle-card { display: block !important; position: relative; width: 335px; height: 500px; }
.circle-card .image { position: absolute; top: 0; left: 0; width: 100%; height: 100%; transition: 0.5s; clip-path: circle(100% at 50% 30%);}
.circle-card .content { display: block !important; position: absolute; left: 0; bottom: 50px; text-align: center; color: white; }
.circle-card h3,
.circle-card p,
.circle-card a { opacity: 0; transform: translateY(100px); transition: 0.5s; }
.circle-card img { width: 100%; height: 100%; }
.circle-card:hover .image { clip-path: circle(20% at 50% 30%); }
.circle-card:hover h3,
.circle-card:hover p,
.circle-card:hover a  { opacity: 1; transform: translateY(0); transition-delay: 0.5s; }

.corner-card { display: block !important; position: relative; width: 400px; height: 400px; background: teal; }
.corner-card .content { background: teal; display: block; position: absolute; width: 60%; left: 50%; top: 50%; transform: translate(-50%, -50%); color: #1f1f1f; }
.corner-card img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; transition: 0.5s; clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
.corner-card img:hover { clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 0); }

/* MISC */

.smoky { justify-content: center; }
.smoky li { font-size: 50px; color: white; font-weight: bold; letter-spacing: 10px; transition: all 2s; }
.smoky:hover li { transform: rotate(45deg) translateY(-200px); opacity: 0; color: teal; filter: blur(20px); }
.smoky li:nth-child(2) { transition-delay: 0.2s; }
.smoky li:nth-child(3) { transition-delay: 0.4s; }
.smoky li:nth-child(4) { transition-delay: 0.6s; }
.smoky li:nth-child(5) { transition-delay: 0.8s; }
.smoky li:nth-child(6) { transition-delay: 1.2s; }
.smoky li:nth-child(7) { transition-delay: 1.4s; }
.smoky li:nth-child(8) { transition-delay: 1.6s; }

.fill { font-size: 50px; color: #ccc; text-transform: uppercase; position: relative; }
.fill::before { content: "BIOPARCO"; position: absolute; top: 0; left: 0; color: teal; width: 0; overflow: hidden; transition: all 0.5s; }
.fill:hover::before { width: 100%; }

.borders-box { position: relative; margin: 100px auto; width: 320px; height: 320px; box-sizing: border-box; }
.borders-box h1 { margin: 0; padding: 0; color: teal; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; font-size: 24px; }
.borders-box::before {content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; border-top: 4px solid darkred; border-bottom: 4px solid darkred; box-sizing: border-box; transition: all 0.5s; transform: scaleX(0); }
.borders-box:hover::before { transform: scaleX(1); }
.borders-box::after {content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; border-left: 4px solid orange; border-right: 4px solid orange; box-sizing: border-box; transition: all 0.5s; transform: scaleY(0); }
.borders-box:hover::after { transform: scaleY(1); transition-delay: 0.5s; }
.borders-box span::before { content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; border-top: 4px solid orange; border-bottom: 4px solid orange; box-sizing: border-box; transition: all 0.5s; transform: rotate(60deg) scaleX(0); }
.borders-box:hover span::before { transform: rotate(60deg) scaleX(1); transition-delay: 1s; }
.borders-box span::after { content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; border-left: 4px solid darkred; border-right: 4px solid darkred; box-sizing: border-box; transition: all 0.5s; transform: rotate(60deg) scaleY(0); }
.borders-box:hover span::after { transform: rotate(60deg) scaleY(1); transition-delay: 1.5s; }
.borders-box span:first-child::before { transform: rotate(-60deg) scaleX(0); }
.borders-box:hover span:first-child::before { transform: rotate(-60deg) scaleX(1); transition-delay: 2s; }
.borders-box span:first-child::after { transform: rotate(-60deg) scaleY(0); }
.borders-box:hover span:first-child::after { transform: rotate(-60deg) scaleY(1); transition-delay: 2.5s; }

.social { display: flex; justify-content: center; text-align: center; overflow: hidden; }
.social .icon { width: 90px; height: 90px; padding: 0; margin: 10px; border-radius: 30%; color: turquoise; position: relative; box-shadow: 0 5px 15px -5px teal; } 
.icon i { line-height: 90px; font-size: 25px; transition: all 0.2s; }
.icon:hover i { transform: scale(1.3); color: #1f1f1f; }
.icon::before { content: ""; position: absolute; width: 120%; height: 120%; background: teal; left: -110%; top: 90%; transform: rotate(45deg); }
.icon:hover::before { animation: animation 0.7s 1 forwards; }

@keyframes animation {
    0% { left: -110%; top: 90%; }
    50% { left: 15%; top: -30%; }
    100% { left: -10%; top: -10%; }
}

.shapes { display: flex; justify-content: center; align-items: center; flex-basis: 50%; width: 100%; }
.shapes img { height: 150px; width: 150px; margin-top: 20px; }
.triangle-1 { clip-path: polygon(50% 0%, 0% 100%, 100% 100%); }
.triangle-2 { clip-path: polygon(0% 0%, 100% 0%, 50% 100%); }
.triangle-3 { clip-path: polygon(0% 0%, 0% 100%, 100% 50%); }
.triangle-4 { clip-path: polygon(100% 0%, 100% 100%, 0% 50%); }

.loading { overflow: hidden; position: relative; width: 400px; height: 60px; text-align: center; border: 2px solid turquoise; border-radius: 10px; }
.loading span { text-transform: uppercase; position: absolute; top: 0; left: 0; width: 100%; height: 100%; font-size: 48px; }
.loading span:first-child { color: teal; clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%); animation: split 4s linear infinite; }
.loading span:last-child { color: turquoise; clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);  animation: split 4s linear infinite reverse; }

@keyframes split {
    0% { transform: translateX(100%); }
    40% { transform: translateX(0); }
    60% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

.waveclip { position: relative; width: 100%; height: 150px; display: flex; justify-content: center; }
.waveclip h2 { position: absolute; text-align: center; line-height: 100px; font-size: 120px; text-transform: uppercase; }
.waveclip h2:nth-child(1) { color: transparent; -webkit-text-stroke: 1px teal; }
.waveclip h2:nth-child(2) { color: turquoise; clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%); animation: waveclip 2s ease-in-out infinite; }

@keyframes waveclip {
    0% { clip-path: polygon(0% 33%, 9% 27%, 18% 24%, 30% 24%, 38% 32%, 45% 41%, 49% 46%, 56% 52%, 64% 50%, 71% 45%, 76% 39%, 82% 33%, 89% 29%, 93% 24%, 99% 22%, 99% 99%, 0% 99%); }
    50% { clip-path: polygon(0 54%, 8% 45%, 18% 38%, 28% 41%, 38% 32%, 45% 28%, 49% 22%, 56% 28%, 64% 34%, 71% 45%, 75% 55%, 80% 47%, 88% 44%, 93% 43%, 99% 49%, 99% 99%, 0% 99%); }
    100% { clip-path: polygon(0% 33%, 9% 27%, 18% 24%, 30% 24%, 38% 32%, 45% 41%, 49% 46%, 56% 52%, 64% 50%, 71% 45%, 76% 39%, 82% 33%, 89% 29%, 93% 24%, 99% 22%, 99% 99%, 0% 99%); }
}

.clipped { position: relative; width: 100%; height: 600px; flex-basis: 100% !important; }
.clipped .clip { position: absolute; top: 0; left: 0; width: 100%; height: 100%; transition: all 0.5s; }
.clipped .clip1 { background: url('./images/flowers.jpg'); background-size: cover; background-position: center; clip-path: polygon(0% 0%, 20% 0%, 40% 100, 0% 100%); }
.clipped .clip2 { background: url('./images/stars.jpeg'); background-size: cover; background-position: center; clip-path: polygon(20% 0%, 80% 0, 60% 100%, 40% 100% ); }
.clipped .clip3 { background: url('./images/ocean.jpg'); background-size: cover; background-position: center; clip-path: polygon(80% 0%, 100% 0, 100% 100%, 60% 100%); }
.clipped:hover .clip { clip-path: polygon(100% 0%, 100% 0, 100% 100%, 100% 100%); }
.clipped .clip:hover { clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0% 100%); }

.mixed-text { position: relative; width: 800px; height: 300px; flex-basis: 100% !important; }
.mixed-text h3 { color: black; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); margin: 0; padding: 0; width: 100%; text-align: center; font-size: 220px; transition: 0.5s; }
.mixed-text h3:nth-child(2) { color: white; clip-path: polygon(0 0, 100% 0, 100% 0, 0% 100%); background: #1f1f1f; }
.mixed-text h3:nth-child(2):hover { clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
.mixed-text h3:nth-child(1):hover ~ h3 { clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); }

/* ANIMATIONS */

.animations { display: flex; flex-direction: column; align-items: center; }

.animations-1 h3 { color: white; text-align: center; font-size: 90px; line-height: 90px; text-shadow: 0 1px 0 teal, 0 2px 0 teal, 0 3px 0 teal, 0 4px 0 teal, 0 30px 5px rgba(0, 128, 128, 0.1); animation: float 3s linear infinite alternate; }

@keyframes float {
    from { transform: rotate(5deg); }
    to { transform: rotate(-5deg); }
}

.animations-2 { width: 100px; height: 100px; background: turquoise; border-radius: 20px; animation: loading 2s linear infinite; }

@keyframes loading {
    0% { transform: rotateX(0deg) rotateY(0deg); }
    50% { transform: rotateX(0deg) rotateY(180deg); }
    100% { transform: rotateX(180deg) rotateY(180deg); }
}

.animations-3 { position: relative; overflow: hidden; max-width: 1200px; background: black; }
.animations-3 p { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); color: white; font-size: 24px; }
.animations-3::before { display: block; content: ""; width: 1200px; height: 400px; background: url(./images/trees.jpg); background-size: 20%;  background-position: bottom left; animation: moving 20s linear infinite; }  

@keyframes moving {
    from { background-position: bottom left; }
    to { background-position: bottom right; }
}
